.App{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
@media screen and (max-width:768px ){
    .App{
        position: relative;
    }
}