.noData{
    flex: 1 1;
    height: 100%;
    background-color: var(--dark-color);
    overflow: hidden;
    overflow-y: scroll;
}
.No-data-text{
    margin-top: 74px;
    color: aqua;
    text-align: center;
}