.tradecoverListCoin{
    width: 100px;
    height: 0px;
    background-color: #1a1e27;
    position: absolute;
    top: 125%;
    left: 0px;
    border-radius: 20px;
    overflow-y: scroll;
    z-index: 3;
    border: 1px solid #FFED48;
    transition: all 0.4s linear;
}
.tradecoverListCoin::-webkit-scrollbar{
    width: 3px;
}
.ShowListCoin{
    height: 200px;
}
.tradecoverListCoin ul{
    padding: 0px;
}
.tradecoverListCoin ul li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 10px;

}
.tradecoverListCoin ul li p{
    color: white;
    margin: 0px;
    margin-left: 5px;
}